<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>TEST REWARD</title>
</head>
<main>
  <div class="container pt-3">
    <form id="random" action="#" method="POST">
      <div class="text-center">
        <label>Setting Random</label>
      </div>
      <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
          <div class="mb-3">
            <div class="form-group">
              <label>Amount Money Reward</label>
              <input type="number" class="form-control form-contro-sm percentage" id="amount" name="amount" />
            </div>
          </div>
          <div class="form-group">
            <label>Max User</label>
            <input type="number" class="form-control form-contro-sm" id="max" name="max" disabled readonly />
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label>TranferIn</label>
              <input type="number" class="form-control form-contro-sm" id="tranferIn" name="tranferIn" />
            </div>
            <div class="form-group">
              <label>TurnOver</label>
              <input type="number" class="form-control form-contro-sm" id="turnover" name="turnover" />
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label>Percentage Reward</label>
              <div class="row text-center">
                <div class="col-4">
                  <label>Reward L</label>
                  <input type="number" class="form-control form-contro-sm percentage" id="platinum" name="platinum" />
                </div>
                <div class="col-4">
                  <label>Reward M</label>
                  <input type="number" class="form-control form-contro-sm percentage" id="gold" name="gold" />
                </div>
                <div class="col-4">
                  <label>Reward S</label>
                  <input type="number" class="form-control form-contro-sm percentage" id="silver" name="silver" />
                </div>
              </div>
              <div class="text-center mt-3">
                <label id="percentage-error" class="is-invalid"></label>
              </div>
            </div>
            <!-- <div class="form-group">
              <label>Min-Max Percentage Reward</label>
              <div class="form-group">
                <label>Platinum</label>
                <div class="row text-center">
                  <div class="col-6">
                    <label>Min</label>
                    <input type="number" class="form-control form-contro-sm" id="platinum-min" name="platinum-min" />
                  </div>
                  <div class="col-6">
                    <label>Max</label>
                    <input type="number" class="form-control form-contro-sm" id="platinum-max" name="platinum-max" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Gold</label>
                <div class="row text-center">
                  <div class="col-6">
                    <label>Min</label>
                    <input type="number" class="form-control form-contro-sm" id="gold-min" name="gold-min" />
                  </div>
                  <div class="col-6">
                    <label>Max</label>
                    <input type="number" class="form-control form-contro-sm" id="gold-max" name="gold-max" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Silver</label>
                <div class="row text-center">
                  <div class="col-6">
                    <label>Min</label>
                    <input type="number" class="form-control form-contro-sm" id="silver-min" name="silver-min" />
                  </div>
                  <div class="col-6">
                    <label>Max</label>
                    <input type="number" class="form-control form-contro-sm" id="silver-max" name="silver-max" />
                  </div>
                </div>
              </div>
            </div> -->
          </div>

          <div class="text-center">
            <button class="btn btn-sm btn-primary" type="submit">Random</button>
          </div>
        </div>
    </form>
  </div>
</main>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="../json/user.json"></script>
  <script type="text/javascript" src="../js/script.js"></script>
  <script type="text/javascript" src="../js/validate.js"></script>
  <script>
    var User = []
    loadJSON()
    function loadJSON() {
      var xobj = new XMLHttpRequest();
      xobj.overrideMimeType("application/json");
      xobj.open('GET', '../json/user.json', true);
      xobj.onreadystatechange = function () {
        if (xobj.readyState == 4 && xobj.status == "200") {
          User = xobj.responseText
          User = JSON.parse(User)
        }
      };
      xobj.send(null);
    }

  </script>
</body>

</html>