<div class="mb-3">
    <div class="form-group">
        <label>No. Index</label>
        <input type="text" class="form-control form-control-sm mb-2" id="reward" disabled readonly />
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control form-control-sm mb-2" id="username" disabled readonly />
    </div>
    <div class="form-group">
        <label>TranferIn</label>
        <input type="text" class="form-control form-control-sm mb-2" id="tranferIn" disabled readonly />
    </div>
    <div class="form-group">
        <label>TurnOver</label>
        <input type="text" class="form-control form-control-sm" id="turnOver" disabled readonly />
    </div>
</div>